$timeAnim: 0.2s;
$goodColor: #0E9A00;
$badColor: #9d0006;
$defaultColor: #008CBA;
$marginTexture: calc((100% - 266px) / 2);
$marginTextureHover: calc((100% - 293px) / 2);

/*loader*/
.globalLoaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 30;
  transition: opacity 0.5s;
  opacity: 0;
}
.globalLoaderContainer.withBackground {
  background-color: rgba(255, 255, 255, 0.7);
}
.globalLoaderImage {
  height: 50px;
  width: 50px;
  background-image: url(../../images/loader.svg);
  background-size: cover;
  position: absolute;
  top: calc(50vh - 25px);
  left: calc(50vw - 25px);
}
/*info box*/
.infoMessageBox {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: rgba(0,0,0,0.8);
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  transition: opacity 0.5s;
  opacity: 0;
  z-index: 20;
}

/*content loader*/
.contentLoader {
  min-height: 50px;
  width: 100%;
  background-image: url(../../images/loader.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 20px;
}

/*noData*/
.noDataContainer {
  margin: 20px;
  font-size: 20px;
  color:
          #666;
}

/* Common */

.common-button {
  text-decoration: none;
  font-weight: 600;
  border-radius: 6px;
  opacity: 1;
  padding: 5px 10px;
  text-align: center;
  border: none;
  text-decoration: none !important;
  display: block;
  width: 100%;

  transition: $timeAnim;

  &:hover {
    opacity: 1;
    text-decoration: none !important;
  }

  &:focus {
    outline: none !important;
  }

  /* Enable button style */
  &.good {
    background-color: white;
    border: 1pt solid $goodColor;
    color: $goodColor;

    &:hover {
      background-color: $goodColor;
      border: 1pt solid white;
      color: white;
    }
  }

  /* Bad/danger button style */
  &.bad {
    background-color: white;
    border: 1pt solid $badColor;
    color: $badColor;

    &:hover {
      background-color: $badColor;
      border: 1pt solid white;
      color: white;
    }
  }

  &.default {
    background-color: white;
    border: 1pt solid $defaultColor;
    color: $defaultColor;

    &:hover {
      background-color: $defaultColor;
      border: 1pt solid $defaultColor;
      color: white;
    }
  }

  &.xs {
    font-size: 13px;
  }

  &.texture {
    color: white;
    height: 68px;
    width: 266px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: $marginTexture;
    margin-right: $marginTexture;

    &:hover {
      height: 69px;
      width: 293px;
      margin-left: $marginTextureHover;
      margin-right: $marginTextureHover;
    }

    &.wood {
      background-image: url(../../images/textures/buttonLong_brown.png);
      background-repeat: no-repeat;
      background-size: cover;

      text-transform: uppercase;
      font-weight: 900;
      color: rgba(121, 83, 44, 1);
      text-shadow: -1pt -1pt rgba(55, 35, 27, 1);
      font-size: 20px;

      &:hover {
        background-image: url(../../images/textures/buttonLong_brown_pressed.png);
        font-size: 22px;
      }
    }

    &.brick {
      background-image: url(../../images/textures/buttonLong_blue.png);
      background-repeat: no-repeat;
      background-size: cover;

      &:hover {
        background-image: url(../../images/textures/buttonLong_blue_pressed.png);
      }
    }
  }

  &.arrow-left {
    background: url(../../images/textures/arrowBlue_left.png) no-repeat;
    width: 22px;
    height: 22px;
  }

  &.arrow-right {
    background: url(../../images/textures/arrowBlue_right.png) no-repeat;
    width: 22px;
    height: 22px;
  }

  &.arrow-right:hover, &.arrow-left:hover {
    transform: scale(1.2);
  }

  &.arrow-right:active, &.arrow-left:active {
    transform: scale(1.5);
  }

  cursor: url(../../images/textures/cursorHand_blue.png), pointer !important;
}

.common-input {
  font-size: 17px;
  color: black;
  background-color: white;
  border: 1pt solid darkgrey;
  width: 100%;
  border-radius: 6px;

  &:focus {
    font-size: 17px;
    color: black;
    background-color: white;
    border: 1pt solid darkgrey;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: black;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    font-size: 17px;
    -webkit-border-color: darkgrey;
  }

  &:focus {
    outline: none !important;
  }

  &.texture {

    color: black;
    height: 68px;
    width: 266px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: $marginTexture;
    margin-right: $marginTexture;

    border: none;

    &::placeholder {
      color: darkgrey;
    }

    &.light {
      background-image: url(../../images/textures/buttonLong_grey.png);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.common-box {
  background: url(../../images/textures/houseGrayTopRight.png) calc(100%) 0 no-repeat,
          url(../../images/textures/houseGrayTopLeft.png) 0 0 no-repeat,
          url(../../images/textures/houseGrayBottomRight.png) calc(100%) calc(100%) no-repeat,
          url(../../images/textures/houseGrayBottomLeft.png) 0 calc(100%) no-repeat,
          url(../../images/textures/houseGrayTopMid.png) calc(100%) 0 repeat-x,
          url(../../images/textures/houseGrayMidLeft.png) 0 0 repeat-y,
          url(../../images/textures/houseGrayMidRight.png) calc(100%) 0 repeat-y,
          url(../../images/textures/houseGrayBottomMid.png) 0 calc(100%) repeat-x,
          url(../../images/textures/houseGrayAlt2.png) 15% 15% no-repeat,
          url(../../images/textures/houseGrayAlt2.png) 40% 30% no-repeat,
          url(../../images/textures/houseGrayAlt2.png) 70% 55% no-repeat,
          url(../../images/textures/houseGrayAlt.png) 30% 85% no-repeat,
          url(../../images/textures/houseGrayAlt.png) 80% 25% no-repeat,
          url(../../images/textures/houseGrayAlt.png) 95% 85% no-repeat,
          url(../../images/textures/houseGrayAlt.png) 60% 80% no-repeat,
          url(../../images/textures/houseGray.png) repeat;
  border: 1pt solid darkgrey;
}

.common-text {
  color: black;
}

.img-player1 {
  animation: player1 350ms 0s infinite;
  width: 72px;
  height: 97px;
  position: absolute;
  background-image: url(../../images/Player/p1_walk/p1_walk5.png);
}

@keyframes player1 {
  $frame: 100 / 6;
  $i: $frame;
  @while $i < 100 {
    #{$i}% {
      background-image: url(#{"../../images/Player/p1_walk/p1_walk"+$i/($frame)}.png);
    }
    $i: $i + $frame;
  }
}