body{
  text-align: center;
}
/*container*/
#pagesContainer {
  min-width: 50%;
  max-width: calc(100% - 20px);
  min-height: 30px;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  border: 1px solid
}
