/* Utils class */

.left {
  text-align-last: left !important;
}

.right {
  text-align-last: right !important;
}

.center {
  text-align: center;
  text-align-last:center;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0 !important;
}

.space-top {
  margin-top: 15px;
}

.space-bottom {
  margin-bottom: 15px;
}

.big-space-bottom {
  margin-bottom: 100px;
}

.take-space-bottom {
  padding-bottom: 40px;
}

.big-space-top {
  margin-top: 100px;
}

.pointer {
  cursor: pointer;
}

.none {
  display: none!important;
}

.align-center {
  justify-content: center;
  align-items: center;
  display: flex;
}

.tab-left {
  margin-left: 30px;
}

.hidden {
  display: none;
}