@import "https://fonts.googleapis.com/css?family=Nunito:200,600";
html {
  font-family: Nunito;
  cursor: url(../../images/textures/cursorGauntlet_blue.png), auto; }

body {
  text-align: center; }

/*loader*/
.globalLoaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 30;
  transition: opacity 0.5s;
  opacity: 0; }

.globalLoaderContainer.withBackground {
  background-color: rgba(255, 255, 255, 0.7); }

.globalLoaderImage {
  height: 50px;
  width: 50px;
  background-image: url(../../images/loader.svg);
  background-size: cover;
  position: absolute;
  top: calc(50vh - 25px);
  left: calc(50vw - 25px); }

/*info box*/
.infoMessageBox {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  transition: opacity 0.5s;
  opacity: 0;
  z-index: 20; }

/*content loader*/
.contentLoader {
  min-height: 50px;
  width: 100%;
  background-image: url(../../images/loader.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 20px; }

/*noData*/
.noDataContainer {
  margin: 20px;
  font-size: 20px;
  color: #666; }

/* Common */
.common-button {
  text-decoration: none;
  font-weight: 600;
  border-radius: .25rem;
  opacity: 1;
  padding: 5px 10px;
  text-align: center;
  border: none;
  text-decoration: none !important;
  display: block;
  width: 100%;
  transition: 0.2s;
  /* Enable button style */
  /* Bad/danger button style */
  cursor: url(../../images/textures/cursorHand_blue.png), pointer !important; }
  .common-button:hover {
    opacity: 1;
    text-decoration: none !important; }
  .common-button.good {
    background-color: white;
    border: 1pt solid #0E9A00;
    color: #0E9A00; }
    .common-button.good:hover {
      background-color: #0E9A00;
      border: 1pt solid white;
      color: white; }
  .common-button.bad {
    background-color: white;
    border: 1pt solid #9d0006;
    color: #9d0006; }
    .common-button.bad:hover {
      background-color: #9d0006;
      border: 1pt solid white;
      color: white; }
  .common-button.default {
    background-color: white;
    border: 1pt solid #008CBA;
    color: #008CBA; }
    .common-button.default:hover {
      background-color: #008CBA;
      border: 1pt solid #008CBA;
      color: white; }
  .common-button.xs {
    font-size: 13px; }
  .common-button.texture {
    color: white;
    height: 68px;
    width: 266px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: calc((100% - 266px) / 2);
    margin-right: calc((100% - 266px) / 2); }
    .common-button.texture:hover {
      height: 69px;
      width: 293px;
      margin-left: calc((100% - 293px) / 2);
      margin-right: calc((100% - 293px) / 2); }
    .common-button.texture.wood {
      background-image: url(../../images/textures/buttonLong_brown.png);
      background-repeat: no-repeat;
      background-size: cover; }
      .common-button.texture.wood:hover {
        background-image: url(../../images/textures/buttonLong_brown_pressed.png); }
    .common-button.texture.brick {
      background-image: url(../../images/textures/buttonLong_blue.png);
      background-repeat: no-repeat;
      background-size: cover; }
      .common-button.texture.brick:hover {
        background-image: url(../../images/textures/buttonLong_blue_pressed.png); }

.common-input {
  font-size: 17px;
  color: black;
  background-color: white;
  border: 1pt solid darkgrey;
  width: 100%; }
  .common-input:focus {
    font-size: 17px;
    color: black;
    background-color: white;
    border: 1pt solid darkgrey; }
  .common-input:-webkit-autofill, .common-input:-webkit-autofill:hover, .common-input:-webkit-autofill:focus {
    -webkit-text-fill-color: black;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    font-size: 17px;
    -webkit-border-color: darkgrey; }
  .common-input:focus {
    outline: none !important; }
  .common-input.texture {
    color: black;
    height: 68px;
    width: 266px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: calc((100% - 266px) / 2);
    margin-right: calc((100% - 266px) / 2);
    border: none; }
    .common-input.texture::placeholder {
      color: darkgrey; }
    .common-input.texture.light {
      background-image: url(../../images/textures/buttonLong_grey.png);
      background-repeat: no-repeat;
      background-size: cover; }

.common-box {
  border: 1pt solid darkgrey;
  background: rgba(255, 255, 255, 0.8); }

.common-text {
  color: black; }

/* leaf animations */
#leaves {
  top: -100px;
  width: 100%;
  text-align: right;
  z-index: -1;
  height: 0;
  position: fixed; }

#leaves i {
  display: inline-block;
  width: 200px;
  height: 150px;
  background: linear-gradient(to bottom right, #309900, #005600);
  transform: skew(20deg);
  border-radius: 5% 40% 70%;
  box-shadow: inset 0px 0px 1px #222;
  border: 1px solid #333;
  z-index: -1;
  -webkit-animation: falling 8s 0s infinite; }

#leaves i:nth-of-type(2n) {
  -webkit-animation: falling2 13.6s 0s infinite; }

#leaves i:nth-of-type(3n) {
  -webkit-animation: falling3 8s 0s infinite; }

#leaves i:before {
  position: absolute;
  content: '';
  top: 117px;
  right: 9px;
  height: 27px;
  width: 32px;
  transform: rotate(49deg);
  border-radius: 0% 15% 15% 0%;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  border-left: 0px solid #222;
  border-right: 1px solid #222;
  background: linear-gradient(to right, darkgreen, #005600);
  z-index: -1; }

#leaves i:after {
  content: '';
  height: 125px;
  width: 10px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  display: block;
  transform: rotate(125deg);
  position: absolute;
  left: 85px;
  border-radius: 50%; }

#leaves i:nth-of-type(n) {
  height: 23px;
  width: 30px; }

#leaves i:nth-of-type(n):before {
  width: 7px;
  height: 5px;
  top: 17px;
  right: 1px; }

#leaves i:nth-of-type(n):after {
  width: 2px;
  height: 17px;
  left: 12px;
  top: 0px; }

#leaves i:nth-of-type(2n+1) {
  height: 11px;
  width: 16px; }

#leaves i:nth-of-type(2n+1):before {
  width: 4px;
  height: 3px;
  top: 7px;
  right: 0px; }

#leaves i:nth-of-type(2n+1):after {
  width: 2px;
  height: 6px;
  left: 5px;
  top: 1px; }

#leaves i:nth-of-type(3n+2) {
  height: 17px;
  width: 23px; }

#leaves i:nth-of-type(3n+2):before {
  height: 4px;
  width: 4px;
  top: 12px;
  right: 1px; }

#leaves i:nth-of-type(3n+2):after {
  height: 10px;
  width: 2px;
  top: 1px;
  left: 8px; }

#leaves i:nth-of-type(1n) {
  -webkit-animation-delay: 13.12s; }

#leaves i:nth-of-type(2n) {
  -webkit-animation-delay: 7.34s; }

#leaves i:nth-of-type(3n) {
  -webkit-animation-delay: 7.21s; }

#leaves i:nth-of-type(4n) {
  -webkit-animation-delay: 0.97s; }

#leaves i:nth-of-type(5n) {
  -webkit-animation-delay: 7.69s; }

#leaves i:nth-of-type(6n) {
  -webkit-animation-delay: 10.57s; }

#leaves i:nth-of-type(7n) {
  -webkit-animation-delay: 9.04s; }

#leaves i:nth-of-type(8n) {
  -webkit-animation-delay: 6.62s; }

#leaves i:nth-of-type(9n) {
  -webkit-animation-delay: 6.83s; }

#leaves i:nth-of-type(10n) {
  -webkit-animation-delay: 2.28s; }

#leaves i:nth-of-type(11n) {
  -webkit-animation-delay: 3.28s; }

#leaves i:nth-of-type(12n) {
  -webkit-animation-delay: 2.7s; }

#leaves i:nth-of-type(13n) {
  -webkit-animation-delay: 14.52s; }

#leaves i:nth-of-type(14n) {
  -webkit-animation-delay: 6.68s; }

#leaves i:nth-of-type(15n) {
  -webkit-animation-delay: 4.97s; }

#leaves i:nth-of-type(16n) {
  -webkit-animation-delay: 11.33s; }

#leaves i:nth-of-type(17n) {
  -webkit-animation-delay: 10.98s; }

#leaves i:nth-of-type(18n) {
  -webkit-animation-delay: 0.86s; }

#leaves i:nth-of-type(19n) {
  -webkit-animation-delay: 10.6s; }

#leaves i:nth-of-type(20n) {
  -webkit-animation-delay: 9.38s; }

#leaves i:nth-of-type(21n) {
  -webkit-animation-delay: 11.24s; }

#leaves i:nth-of-type(22n) {
  -webkit-animation-delay: 8.23s; }

#leaves i:nth-of-type(23n) {
  -webkit-animation-delay: 9.28s; }

#leaves i:nth-of-type(24n) {
  -webkit-animation-delay: 4.48s; }

#leaves i:nth-of-type(25n) {
  -webkit-animation-delay: 12.46s; }

#leaves i:nth-of-type(26n) {
  -webkit-animation-delay: 11.39s; }

#leaves i:nth-of-type(27n) {
  -webkit-animation-delay: 1.15s; }

#leaves i:nth-of-type(28n) {
  -webkit-animation-delay: 12.31s; }

#leaves i:nth-of-type(29n) {
  -webkit-animation-delay: 3.81s; }

#leaves i:nth-of-type(30n) {
  -webkit-animation-delay: 2.48s; }

#leaves i:nth-of-type(31n) {
  -webkit-animation-delay: 2.88s; }

#leaves i:nth-of-type(32n) {
  -webkit-animation-delay: 5.95s; }

#leaves i:nth-of-type(33n) {
  -webkit-animation-delay: 8.63s; }

#leaves i:nth-of-type(34n) {
  -webkit-animation-delay: 7.76s; }

#leaves i:nth-of-type(35n) {
  -webkit-animation-delay: 9.53s; }

#leaves i:nth-of-type(36n) {
  -webkit-animation-delay: 9.27s; }

#leaves i:nth-of-type(37n) {
  -webkit-animation-delay: 0.15s; }

#leaves i:nth-of-type(38n) {
  -webkit-animation-delay: 10.17s; }

#leaves i:nth-of-type(39n) {
  -webkit-animation-delay: 5.64s; }

#leaves i:nth-of-type(40n) {
  -webkit-animation-delay: 11.22s; }

#leaves i:nth-of-type(41n) {
  -webkit-animation-delay: 7.38s; }

#leaves i:nth-of-type(42n) {
  -webkit-animation-delay: 1.09s; }

#leaves i:nth-of-type(43n) {
  -webkit-animation-delay: 13.04s; }

#leaves i:nth-of-type(44n) {
  -webkit-animation-delay: 6.4s; }

#leaves i:nth-of-type(45n) {
  -webkit-animation-delay: 6.22s; }

#leaves i:nth-of-type(46n) {
  -webkit-animation-delay: 9.54s; }

#leaves i:nth-of-type(47n) {
  -webkit-animation-delay: 3.08s; }

#leaves i:nth-of-type(48n) {
  -webkit-animation-delay: 6.08s; }

#leaves i:nth-of-type(49n) {
  -webkit-animation-delay: 4.07s; }

#leaves i:nth-of-type(50n) {
  -webkit-animation-delay: 11.46s; }

#leaves i:nth-of-type(51n) {
  -webkit-animation-delay: 1.97s; }

#leaves i:nth-of-type(52n) {
  -webkit-animation-delay: 0.98s; }

#leaves i:nth-of-type(53n) {
  -webkit-animation-delay: 4.56s; }

#leaves i:nth-of-type(54n) {
  -webkit-animation-delay: 1.53s; }

#leaves i:nth-of-type(55n) {
  -webkit-animation-delay: 7.86s; }

#leaves i:nth-of-type(56n) {
  -webkit-animation-delay: 13.48s; }

#leaves i:nth-of-type(57n) {
  -webkit-animation-delay: 1.48s; }

#leaves i:nth-of-type(58n) {
  -webkit-animation-delay: 9.57s; }

#leaves i:nth-of-type(59n) {
  -webkit-animation-delay: 13.94s; }

#leaves i:nth-of-type(60n) {
  -webkit-animation-delay: 4.8s; }

#leaves i:nth-of-type(61n) {
  -webkit-animation-delay: 2.47s; }

#leaves i:nth-of-type(62n) {
  -webkit-animation-delay: 2.38s; }

#leaves i:nth-of-type(63n) {
  -webkit-animation-delay: 2.62s; }

#leaves i:nth-of-type(64n) {
  -webkit-animation-delay: 3.76s; }

#leaves i:nth-of-type(65n) {
  -webkit-animation-delay: 12.66s; }

#leaves i:nth-of-type(66n) {
  -webkit-animation-delay: 3.65s; }

#leaves i:nth-of-type(67n) {
  -webkit-animation-delay: 13.91s; }

#leaves i:nth-of-type(68n) {
  -webkit-animation-delay: 8.8s; }

#leaves i:nth-of-type(69n) {
  -webkit-animation-delay: 4.68s; }

#leaves i:nth-of-type(70n) {
  -webkit-animation-delay: 6.41s; }

#leaves i:nth-of-type(71n) {
  -webkit-animation-delay: 7.51s; }

#leaves i:nth-of-type(72n) {
  -webkit-animation-delay: 9.68s; }

#leaves i:nth-of-type(73n) {
  -webkit-animation-delay: 11.09s; }

#leaves i:nth-of-type(74n) {
  -webkit-animation-delay: 13.3s; }

#leaves i:nth-of-type(75n) {
  -webkit-animation-delay: 6.2s; }

#leaves i:nth-of-type(76n) {
  -webkit-animation-delay: 3.45s; }

#leaves i:nth-of-type(77n) {
  -webkit-animation-delay: 9.75s; }

#leaves i:nth-of-type(78n) {
  -webkit-animation-delay: 6.53s; }

#leaves i:nth-of-type(79n) {
  -webkit-animation-delay: 8.08s; }

#leaves i:nth-of-type(80n) {
  -webkit-animation-delay: 0.91s; }

#leaves i:nth-of-type(81n) {
  -webkit-animation-delay: 4.9s; }

#leaves i:nth-of-type(82n) {
  -webkit-animation-delay: 2.9s; }

#leaves i:nth-of-type(83n) {
  -webkit-animation-delay: 0.47s; }

#leaves i:nth-of-type(84n) {
  -webkit-animation-delay: 13.24s; }

#leaves i:nth-of-type(85n) {
  -webkit-animation-delay: 3.91s; }

#leaves i:nth-of-type(86n) {
  -webkit-animation-delay: 0.29s; }

#leaves i:nth-of-type(87n) {
  -webkit-animation-delay: 1.34s; }

#leaves i:nth-of-type(88n) {
  -webkit-animation-delay: 7.16s; }

#leaves i:nth-of-type(89n) {
  -webkit-animation-delay: 6.54s; }

#leaves i:nth-of-type(90n) {
  -webkit-animation-delay: 10.33s; }

#leaves i:nth-of-type(91n) {
  -webkit-animation-delay: 14.73s; }

#leaves i:nth-of-type(92n) {
  -webkit-animation-delay: 10.32s; }

#leaves i:nth-of-type(93n) {
  -webkit-animation-delay: 2.59s; }

#leaves i:nth-of-type(94n) {
  -webkit-animation-delay: 9.55s; }

#leaves i:nth-of-type(95n) {
  -webkit-animation-delay: 4.57s; }

#leaves i:nth-of-type(96n) {
  -webkit-animation-delay: 14.72s; }

#leaves i:nth-of-type(97n) {
  -webkit-animation-delay: 7.88s; }

#leaves i:nth-of-type(98n) {
  -webkit-animation-delay: 14.86s; }

#leaves i:nth-of-type(99n) {
  -webkit-animation-delay: 11.78s; }

#leaves i:nth-of-type(100n) {
  -webkit-animation-delay: 7.94s; }

#leaves i:nth-of-type(101n) {
  -webkit-animation-delay: 0.31s; }

#leaves i:nth-of-type(102n) {
  -webkit-animation-delay: 11.59s; }

#leaves i:nth-of-type(103n) {
  -webkit-animation-delay: 13.2s; }

#leaves i:nth-of-type(104n) {
  -webkit-animation-delay: 0.84s; }

#leaves i:nth-of-type(105n) {
  -webkit-animation-delay: 11.64s; }

#leaves i:nth-of-type(106n) {
  -webkit-animation-delay: 9.18s; }

#leaves i:nth-of-type(107n) {
  -webkit-animation-delay: 3s; }

#leaves i:nth-of-type(108n) {
  -webkit-animation-delay: 6.03s; }

#leaves i:nth-of-type(109n) {
  -webkit-animation-delay: 3.45s; }

#leaves i:nth-of-type(110n) {
  -webkit-animation-delay: 8.89s; }

#leaves i:nth-of-type(111n) {
  -webkit-animation-delay: 12.71s; }

#leaves i:nth-of-type(112n) {
  -webkit-animation-delay: 13.03s; }

#leaves i:nth-of-type(113n) {
  -webkit-animation-delay: 10.27s; }

#leaves i:nth-of-type(114n) {
  -webkit-animation-delay: 11.83s; }

#leaves i:nth-of-type(115n) {
  -webkit-animation-delay: 14.3s; }

#leaves i:nth-of-type(116n) {
  -webkit-animation-delay: 12.23s; }

#leaves i:nth-of-type(117n) {
  -webkit-animation-delay: 2.84s; }

#leaves i:nth-of-type(118n) {
  -webkit-animation-delay: 12.21s; }

#leaves i:nth-of-type(119n) {
  -webkit-animation-delay: 0.1s; }

#leaves i:nth-of-type(120n) {
  -webkit-animation-delay: 5.71s; }

#leaves i:nth-of-type(121n) {
  -webkit-animation-delay: 12.42s; }

#leaves i:nth-of-type(122n) {
  -webkit-animation-delay: 9.48s; }

#leaves i:nth-of-type(123n) {
  -webkit-animation-delay: 13.09s; }

#leaves i:nth-of-type(124n) {
  -webkit-animation-delay: 2.05s; }

#leaves i:nth-of-type(125n) {
  -webkit-animation-delay: 7.53s; }

#leaves i:nth-of-type(126n) {
  -webkit-animation-delay: 14.01s; }

#leaves i:nth-of-type(127n) {
  -webkit-animation-delay: 3.19s; }

#leaves i:nth-of-type(128n) {
  -webkit-animation-delay: 10.99s; }

#leaves i:nth-of-type(129n) {
  -webkit-animation-delay: 0.9s; }

#leaves i:nth-of-type(130n) {
  -webkit-animation-delay: 5.93s; }

#leaves i:nth-of-type(131n) {
  -webkit-animation-delay: 9.35s; }

#leaves i:nth-of-type(132n) {
  -webkit-animation-delay: 11.15s; }

#leaves i:nth-of-type(133n) {
  -webkit-animation-delay: 14.2s; }

#leaves i:nth-of-type(134n) {
  -webkit-animation-delay: 10.63s; }

#leaves i:nth-of-type(135n) {
  -webkit-animation-delay: 7.19s; }

#leaves i:nth-of-type(136n) {
  -webkit-animation-delay: 2.19s; }

#leaves i:nth-of-type(137n) {
  -webkit-animation-delay: 4.6s; }

#leaves i:nth-of-type(138n) {
  -webkit-animation-delay: 7.26s; }

#leaves i:nth-of-type(139n) {
  -webkit-animation-delay: 14.39s; }

#leaves i:nth-of-type(140n) {
  -webkit-animation-delay: 12.57s; }

#leaves i:nth-of-type(141n) {
  -webkit-animation-delay: 10.66s; }

#leaves i:nth-of-type(142n) {
  -webkit-animation-delay: 2.19s; }

#leaves i:nth-of-type(143n) {
  -webkit-animation-delay: 13.51s; }

#leaves i:nth-of-type(144n) {
  -webkit-animation-delay: 5.37s; }

#leaves i:nth-of-type(145n) {
  -webkit-animation-delay: 11.56s; }

#leaves i:nth-of-type(146n) {
  -webkit-animation-delay: 3.36s; }

#leaves i:nth-of-type(147n) {
  -webkit-animation-delay: 5.06s; }

#leaves i:nth-of-type(148n) {
  -webkit-animation-delay: 12.6s; }

#leaves i:nth-of-type(149n) {
  -webkit-animation-delay: 8.04s; }

#leaves i:nth-of-type(n) {
  background: linear-gradient(to bottom right, #309900, #005600); }

#leaves i:nth-of-type(2n+2) {
  background: linear-gradient(to bottom right, #5e9900, #2b5600); }

#leaves i:nth-of-type(4n+1) {
  background: linear-gradient(to bottom right, #990, #564500); }

#leaves i:nth-of-type(n) {
  opacity: 1; }

#leaves i:nth-of-type(3n+1) {
  opacity: 1; }

#leaves i:nth-of-type(3n+2) {
  opacity: 1; }

#leaves i:nth-of-type(n) {
  transform: rotate(180deg); }

#leaves i:nth-of-type(n) {
  -webkit-animation-timing-function: ease-in-out; }

@-webkit-keyframes falling {
  0% {
    -webkit-transform: translate3d(300px, 0, 0) rotate(0deg); }
  100% {
    -webkit-transform: translate3d(-350px, 100vh, 0) rotate(90deg);
    opacity: 0; } }
@-webkit-keyframes falling2 {
  0% {
    -webkit-transform: translate3d(450px, 0, 0) rotate(-50deg); }
  100% {
    -webkit-transform: translate3d(-450px, 100vh, 0) rotate(-20deg);
    opacity: 0; } }
@-webkit-keyframes falling3 {
  0% {
    -webkit-transform: translate3d(600px, 0, 0) rotate(0deg); }
  100% {
    -webkit-transform: translate3d(-650px, 100vh, 0) rotate(-150deg);
    opacity: 0; } }
h1 > span {
  color: red; }

/* Utils class */
.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center; }

.no-margin {
  margin: 0; }

.no-padding {
  padding: 0; }

.space-top {
  margin-top: 15px; }

.space-bottom {
  margin-bottom: 15px; }

.big-space-bottom {
  margin-bottom: 100px; }

.big-space-top {
  margin-top: 100px; }

.pointer {
  cursor: pointer; }

.none {
  display: none !important; }

/*# sourceMappingURL=main.css.map */
