<link rel="stylesheet" href="/styles/css/demo.css"/>
<div class="container big-space-top">
    <div class="row m-2">
        <div class="col-4">
            <a class="common-button texture wood">Create a new player</a>
        </div>
        <div class="col-8">
            <div class="containt"></div>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-4">
            <a class="common-button texture wood">list all players</a>
        </div>
        <div class="col-8">
            <div class="containt"></div>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-4">
            <a class="common-button texture wood">add new music</a>
        </div>
        <div class="col-8">
            <div class="containt"></div>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-4">
            <a class="common-button texture wood">list all musics</a>
        </div>
        <div class="col-8">
            <div class="containt"></div>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-4">
            <a class="common-button texture wood">add new Level</a>
        </div>
        <div class="col-8">
            <div class="containt"></div>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-4">
            <a class="common-button texture wood">list all Level</a>
        </div>
        <div class="col-8">
            <div class="containt"></div>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-4">
            <a class="common-button texture wood">list all replays</a>
        </div>
        <div class="col-8">
            <div class="containt"></div>
        </div>
    </div>
</div>
<script src=""></script>