<link rel="stylesheet" href="/styles/css/demo.css"/>
<div class="container big-space-top">
    <div class="row m-2">
        <div class="col-4">
            <div class="common-button texture wood" id="createPlayer">Create a new player</div>
        </div>
        <div class="col-8">
            <div class="content"></div>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-4">
            <div class="common-button texture wood" id="listPlayer">List all players</div>
        </div>
        <div class="col-8">
            <div class="content"></div>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-4">
            <div class="common-button texture wood" id="createMusic">Create new music</div>
        </div>
        <div class="col-8">
            <div class="content"></div>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-4">
            <div class="common-button texture wood" id="listMusic">List all musics</div>
        </div>
        <div class="col-8">
            <div class="content"></div>
        </div>
    </div>
    <!-- <div class="row m-2">
        <div class="col-4">
            <div class="common-button texture wood" id="createLevel">Create new Level</div>
        </div>
        <div class="col-8">
            <div class="content"></div>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-4">
            <div class="common-button texture wood" id="listLevel">List all Level</div>
        </div>
        <div class="col-8">
            <div class="content"></div>
        </div>
    </div> -->
    
    <form class="prompt d-none">
        
    </form>
</div>