<div class="container-fluid space-top">
     <div class="row space-bottom">
         <div class="col-5">
             <p class="common-page-title">Tryliom - 500pts x12</p>
             <p class="common-text tab-left">Temps restant: 1:27</p>
             <p class="common-text tab-left">Réussis: 13</p>
             <p class="common-text tab-left">Max combo: 12</p>
             <p class="common-text tab-left">Raté(s): 1</p>
         </div>
         <div class="col-2 space-top align-center">
             <img src="../images/textures/tree.png" />
         </div>
         <div class="col-3 offset-1 left common-player-box">
             <p class="common-text">Tryliom - 500pts x12 </p>
             <p class="common-text">Nox - 490pts x11</p>
             <p class="common-text">Azerty - 480pts x0</p>
         </div>
     </div>
     <div class="row big-space-top space-bottom">
         <div class="col-12">
             <canvas
                     id="canvasGame"
                     class="common-canvas align-center"

             ></canvas>
         </div>
     </div>
</div>