<div class="container big-space-top">
    <div class="row">
        <div class="col-12 col-xl-5">
            <div class="container space-top big-space-bottom">
                <div class="row">
                    <div class="col-10 offset-1">
                        <!--<a href="/new_game" class="common-button texture wood">Créer une partie</a>-->
                        <button onclick="actions.switchMenu(event)" data-redirect="new_game" class="common-button texture wood">Créer une partie</button>
                    </div>
                </div>
                <div class="row big-space-top">
                    <div class="col-10 offset-1">
                        <!--<a href="/lobby" class="common-button texture wood">Rejoindre une partie</a>-->
                        <button onclick="actions.switchMenu(event)" data-redirect="lobby" class="common-button texture wood">Rejoindre une partie</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-2">
            <div class="container-fluid space-top">
                <div class="row">
                    <div class="col-3 align-center no-padding  big-space-top">
                        <button id="change_player_left" class="common-button arrow-left zoom-interaction" />
                    </div>
                    <div class="col-6 align-center big-space-top">
                        <div id="player_icon" class="img-player1"></div>
                    </div>
                    <div class="col-3 align-center no-padding big-space-top">
                        <button id="change_player_right" class="common-button arrow-right zoom-interaction" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-5">
            <div class="container space-top">
                <div class="row">
                    <div class="col-10 offset-1">
                        <!--<a href="/new_level" class="common-button texture wood">Créateur de niveau</a>-->
                        <button onclick="actions.switchMenu(event)" data-redirect="new_level" class="common-button texture wood">Créateur de niveau</button>
                    </div>
                </div>
                <div class="row big-space-top">
                    <div class="col-10 offset-1">
                        <!--<a href="/levels" class="common-button texture wood">Replays</a>-->
                        <button onclick="actions.switchMenu(event)" data-redirect="levels" class="common-button texture wood">Replays</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
