<div class="homeCol">
    <div class="homeBtnContainer">
        <a href="/new_game"><button class="homeBtn">Créer un partie</button></a>
    </div>
    <div class="homeBtnContainer">
        <a href="/lobby"><button class="homeBtn">Rejoindre une partie</button></a>
    </div>
</div>
<div class="homeCol">
    <p id="homeUserNameDisplay"></p>
    <img id="homeCharacterDisplay" src="/images/characters/default.png"/>
    <button id="homeCharacterBtn">Personnage</button>
</div>
<div class="homeCol">
    <div class="homeBtnContainer">
        <a href="/new_level"><button class="homeBtn">Créateur de niveau</button></a>
    </div>
    <div class="homeBtnContainer">
        <a href="/levels"><button class="homeBtn">Replays</button></a>
    </div>
</div>