<div class="container big-space-top">
     <div class="row big-space-top space-bottom">
         <div class="col-5">
             <p class="common-text">Niveau: Jungle</p>
             <p class="common-text">Temps: 2:55</p>
             <p class="common-text">Créateur: Nox</p>
             <p class="common-text big-space-top">En attente de joueurs...</p>
         </div>
         <div class="col-2 align-center">
             <img src="../images/textures/tree.png" />
         </div>
         <div class="col-3 offset-1 left common-player-box">
             <p class="common-text">Tryliom <img src="../images/textures/crown.png" /> </p>
             <p class="common-text">Nox</p>
             <p class="common-text">Azerty</p>
         </div>
     </div>
     <div class="row big-space-top space-bottom">
         <div class="col-6">
             <button onclick="actions.switchMenu(event)" data-redirect="home" class="common-button texture wood">Dissoudre</button>
         </div>
         <div class="col-6">
             <button onclick="actions.switchMenu(event)" data-redirect="game" class="common-button texture wood">Commencer</button>
         </div>
     </div>
</div>