 <form id="loginForm" action="javascript:">
     <div class="container big-space-top">
         <div class="row">
             <div class="col-4 offset-4">
                 <input type="text" placeholder="Nom d'utilisateur" id="userNameInput" class="common-input texture light center" autocomplete="off" required/>
             </div>
         </div>
         <div class="row take-space-bottom">
             <div class="col-6 offset-3 space-top">
                 <button type="submit" class="common-button texture wood">Entrer</button>
             </div>
         </div>
     </div>
</form>