 <form id="loginForm" action="javascript:">
     <div class="container big-space-top">
         <div class="row">
             <div class="col-4 offset-4">
                 <select class="common-input texture light center">
                     <option selected="true">Jungle - 2:55</option>
                     <option>Hardcore jungle - 2:55</option>
                     <option>Royaume champignon - 1:25</option>
                 </select>
             </div>
         </div>
         <div class="row take-space-bottom big-space-top">
             <div class="col-5">
                 <button type="submit" class="common-button texture wood">Solo</button>
             </div>
             <div class="col-5 offset-2">
                 <button type="submit" class="common-button texture wood">Multi</button>
             </div>
         </div>
     </div>
</form>