<div class="container big-space-top big-space-bottom">
    <div class="row">
        <div class="col-10 offset-1 common-player-box center align-center">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <p class="common-text"> Jungle </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 left">
                        <p class="common-text"> Nox </p>
                    </div>
                    <div class="col-6 right">
                        <p class="common-text"> 1290pts </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 left">
                        <p class="common-text"> Tryliom </p>
                    </div>
                    <div class="col-6 right">
                        <p class="common-text"> 1190pts </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 left">
                        <p class="common-text"> Azerty </p>
                    </div>
                    <div class="col-6">
                        <p class="common-text right"> 550pts </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>